<div style="margin-top: 100px;"></div>
<div class="jumbotron">
  <h1>Birds: Alone Together</h1>
  <%if current_user%>
    <p><span class="glyphicon glyphicon-heart"></span> Nice to see you, <%= current_user.username%> <span class="glyphicon glyphicon-heart"></span></p>
  <%end%>
  <%= link_to "Sign Up", signup_path %>
  <br/>
  <%= link_to "Log In", login_path %>
</div>

